@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@500;700&family=Playfair+Display:wght@600;700&display=swap");
:root {
  --headerFont: "Montserrat", sans-serif;
  --titleFont: "Playfair Display", serif;
  --pgFont: "Lato", sans-serif;
  --primary-100: #333333;
  --primary-50: #7A7A7A;
  --sec-100: #850000;
  --sec-50: #B90006;
  --tertier-100: #FFBC1F;
  --tertier-50: #FFCF60;
  --text-dark: #333333;
  --text-light: #EEEEEE;
}

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.header {
  width: 100%;
  position: fixed;
  padding-inline: 8.6rem;
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.header .header--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 1.2rem;
}
.header .header--logo .logo {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header--logo .logo svg {
  position: absolute;
}
.header .header--logo .logo img {
  position: absolute;
  width: 65%;
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .header--logo .logo--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}
.header .header--logo .logo--text .text {
  font-family: var(--headerFont);
}
.header .header--logo .logo--text .text:first-child {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--sec-100);
}
.header .header--logo .logo--text .text:last-child {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--text-light);
}
.header .header--menu-toggle {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.header .header--menu-toggle .open {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 1.2rem;
  flex-shrink: 0;
}
.header .header--menu-toggle .open span {
  background: var(--tertier-100);
}
.header .header--menu-toggle .open span:first-child {
  width: 100%;
  height: 4px;
}
.header .header--menu-toggle .open span:last-child {
  width: 50%;
  height: 4px;
}
.header .header--menu-toggle .close {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.header .header--menu-toggle .close span {
  position: absolute;
  background: var(--tertier-100);
  width: 100%;
  height: 4px;
}
.header .header--menu-toggle .close span:first-child {
  transform: rotate(45deg);
}
.header .header--menu-toggle .close span:last-child {
  transform: rotate(-45deg);
}

nav {
  width: 100%;
  height: 100dvh;
  background: var(--primary-100);
  position: fixed;
  z-index: 888;
}
nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li .nav--link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav ul li .nav--link:first-child {
  margin-left: 1px;
}
nav ul li .nav--link:last-child {
  margin-left: -1px;
}
nav ul li .nav--link .link--img-overlay,
nav ul li .nav--link .link--text-overlay,
nav ul li .nav--link .blinder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li .nav--link .link--text-overlay {
  padding: 0 1.6rem;
  background: var(--primary-100);
}
nav ul li .nav--link .link--text-overlay .text--container {
  width: 50%;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav ul li .nav--link .link--text-overlay .text--container .text--animate {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
nav ul li .nav--link .link--text-overlay .text--container .text--animate p {
  height: 100%;
  font-family: var(--headerFont);
  font-weight: 700;
  font-size: 4.8rem;
  flex-shrink: 0;
  color: var(--text-light);
}
nav ul li .nav--link .link--img-overlay img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav ul li .nav--link .blinder .top,
nav ul li .nav--link .blinder .bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--primary-100);
}
nav ul li .nav--link .blinder .top {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}
nav ul li .nav--link .blinder .bottom {
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

.banner {
  width: 100%;
  height: 100dvh;
}
.banner .banner--starter,
.banner .banner--overlay,
.banner .banner--cta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner--starter,
.banner .banner--cta {
  position: absolute;
}
.banner .banner--starter {
  z-index: 2;
}
.banner .banner--starter .banner--starter-top {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.banner .banner--starter .banner--starter-bottom {
  -webkit-clip-path: polygon(0% 0, 50% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0% 0, 50% 0, 50% 100%, 0% 100%);
  transform: scaleZ(1);
}
.banner .banner--starter .banner--overlay {
  position: absolute;
}
.banner .banner--starter .banner--overlay .img,
.banner .banner--starter .banner--overlay .textbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.banner .banner--starter .banner--overlay .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner--starter .banner--overlay .textbox .icon-group {
  position: absolute;
  padding: 3.2rem;
  border-radius: 0 1.6rem 1.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3.2rem;
  background: linear-gradient(90deg, #7A7A7A 0%, rgba(171, 171, 171, 0) 99.99%);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  left: 0;
}
.banner .banner--starter .banner--overlay .textbox .banner--starter-textbox-header-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3.2rem;
}
.banner .banner--starter .banner--overlay .textbox .banner--starter-textbox-header-group h1 {
  font-family: var(--headerFont);
  font-size: 9.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--sec-100);
  width: 80%;
}
.banner .banner--starter .banner--overlay .textbox .banner--starter-textbox-header-group h2 {
  font-family: var(--headerFont);
  font-size: 6.4rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-light);
}
.banner .banner--starter .banner--overlay .scroll-dir {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  row-gap: 1.6rem;
}
.banner .banner--starter .banner--overlay .scroll-dir p {
  font-family: var(--pgFont);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-light);
}
.banner .banner--starter .banner--overlay .scroll-dir .spacer {
  width: 2px;
  height: 2.4rem;
  background: var(--text-light);
  transform-origin: bottom;
}
.banner .banner--starter .banner--overlay .scroll-dir .arrow-group {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.6rem 2.4rem;
  background: var(--primary-100);
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
}/*# sourceMappingURL=style.css.map */